---
export async function getStaticPaths() {
  const response = await fetch("http://127.0.0.1:1337/api/posts?populate=*");
  const { data } = await response.json();

  return data.map((post) => {
    return {
      params: { slug: post.attributes.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<h1>The Blog</h1>


<h2>{post.attributes.name}</h2>
<p>{post.attributes.description}</p>
<img src={`http://127.0.0.1:1337${post.attributes.header.data.attributes.url}`} alt={post.attributes.header.data.attributes.name}>